@model Asp_Net_Project.Models.QueryViewModel

@{
    ViewBag.Title = "Index";
}

<h2>訂單查詢頁面</h2>


@using (Html.BeginForm("QueryResult","Sales")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @*<h4>QueryViewModel</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">訂單編號</label>
        <div class="col-md-10">
            <input type="text" name="OrderID" value="" class="form-control"/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EmployeeName, (List<SelectListItem>)ViewBag.EmployeeName, "請選擇...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CompanyName, (List<SelectListItem>)ViewBag.CompanyName, "請選擇...", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">訂購日期</label>
        <div class="col-md-4">
            <input type="date" name="OrderDate" value="" class="form-control" />
        </div>

        <label class="control-label col-md-2">出貨日期</label>
        <div class="col-md-4">
            <input type="date" name="ShippedDate" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">需要日期</label>
        <div class="col-md-4">
            <input type="date" name="RequiredDate" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="查詢" class="btn btn-default" />
            <input type="reset" value="清除" class="btn btn-default" />
            @*<button class="btn btn-success" onclick="location.href='/Sales/InsertOrders'">新增</button>*@
        </div>
    </div>
</div>
}
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <button class="btn btn-success" onclick="location.href='/Sales/InsertOrders'">新增訂單</button>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
