@model IEnumerable<Asp_Net_Project.Models.InsertViewModel>

@{
    ViewBag.Title = "QueryResult";
}

<h2>查詢結果</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            客戶名稱
        </th>
        <th>
            訂單日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        
        <th></th>
    </tr>

@for(var i = 0; i < ViewBag.QueryResult.Rows.Count; i++) {
    <tr>
        <td>
            @ViewBag.QueryResult.Rows[i]["OrderID"]
        </td>
        <td>
            @ViewBag.QueryResult.Rows[i]["CompanyName"]
        </td>
        <td>
            @ViewBag.QueryResult.Rows[i]["OrderDate"].ToString("yyyy/MM/dd")
        </td>
        <td>
             @if (DateTime.Compare(ViewBag.QueryResult.Rows[i]["ShippedDate"], DateTime.MinValue) != 0)
             {
                 @ViewBag.QueryResult.Rows[i]["ShippedDate"].ToString("yyyy/MM/dd")
             }
        </td>
        <td>
            @Html.ActionLink("Edit", "EditOrders", new { id = ViewBag.QueryResult.Rows[i]["OrderID"] }) |
            @Html.ActionLink("Delete", "DeleteOrders", new { id = ViewBag.QueryResult.Rows[i]["OrderID"] })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("回查詢頁", "Index")
</p>
